<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Currículo</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div class="curriculo">
    <!-- Cabeçalho -->
    <header class="header-blue">
      <div class="row">
        <!-- Nome em destaque -->
        <div class="col s12">
          <h4 id="nome">Nome Completo</h4>
        </div>
      </div>

      <div class="row">
        <!-- Primeira coluna -->
        <div class="col s6">
          <p id="idade">Idade em anos</p>
          <p id="telefone">(99) 98888-7777</p>
          <p id="email">email@email.com</p>
        </div>

        <!-- Segunda coluna -->
        <div class="col s6">
          <p id="logradouro">Rua Exemplo, 123</p>
          <p id="cep">12345-678</p>
          <p id="cidade">Cidade - UF</p>
        </div>
      </div>

      <div class="row">
        <!-- Links profissionais -->
        <div class="col s6">
          <p id="urllinkedin">linkedin.com/</p>
        </div>
        <div class="col s6">
          <p id="github">github.com/</p>
        </div>
      </div>
    </header>

    <!-- Resumo -->
    <section>
      <h5>Resumo Profissional</h5>
      <p id="resumo">Breve descrição das experiências e objetivos profissionais.</p>
    </section>

    <!-- Formação -->
    <section>
      <h5>Formação</h5>
      <div id="formacao"></div>
    </section>

    <!-- Experiência Profissional -->
    <section>
      <h5>Experiência Profissional</h5>
      <div id="experiencia"></div>
    </section>

    <!-- Competências Técnicas -->
    <section>
      <h5>Competências Técnicas</h5>
      <p id="competencias">Competências técnicas.</p>
    </section>

    <!-- Projetos -->
    <section>
      <h5>Projetos e Portfólio</h5>
      <div id="projeto"></div>
      <div id="links"></div>
    </section>

    <!-- Tecnologias -->
    <section>
      <h5>Tecnologias</h5>
      <p id="tecnologias">Lista de tecnologias dominadas.</p>
    </section>

    <!-- Experiência Complementar -->
    <section>
      <h5>Experiência Complementar</h5>
      <p id="complementar">Cursos, palestras, trabalhos voluntários etc.</p>
    </section>
  </div>

  <div class="container">
    <a href="/" class="btn no-print">Voltar para formulário</a>
    <button id="pdf" class="btn no-print">
      Gerar PDF
    </button>
  </div>
  <br>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
  <script>
    // passa o id do registro para o javascript
    var dadosId = "<%= dados.id %>";
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="/javascripts/scriptForm.js"></script>
</body>

</html>