<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bem vindo ao app de criação de <%= title %>s</p>

    <div class="card">
      <div class="card-content">
        <span class="card-title">Nome completo</span>
        <p>Idade: 20 anos</p>
        <p>Telefone: (99) 98888-7777</p>
        <p>Email: email@outlook.com</p>
        <p>Logradouro: Logradouro, número</p>
        <p>Cidade: Cidade - UF</p>
        <br/>
        <p>LinkedIn: link</p>
        <p>GitHub: link</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <p>Texto</p>
      </div>
    </div>

    <form action="/submit" method="POST" class="container">
      <div class="row">
        <div class="input-field col s5">
          <textarea id="nome" name="nome" class="materialize-textarea"></textarea>
          <label for="nome">Digite seu nome</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <input id="idade" name="idade" type="number" class="validate">
          <label for="idade">Digite sua idade</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <input id="telefone" name="telefone" type="tel" class="validate">
          <label for="telefone">Digite seu telefone</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <input id="email" name="email" type="email" class="validate">
          <label for="email">Digite seu email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <textarea id="logradouro" name="logradouro" class="materialize-textarea"></textarea>
          <label for="logradouro">Digite seu logradouro</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <textarea id="cep" name="cep" class="materialize-textarea"></textarea>
          <label for="cep">Digite seu CEP</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <textarea id="estado" name="estado" class="materialize-textarea"></textarea>
          <label for="estado">Digite seu estado civil</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <textarea id="cidade" name="cidade" class="materialize-textarea"></textarea>
          <label for="cidade">Digite sua cidade</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <textarea id="nacionalidade" name="nacionalidade" class="materialize-textarea"></textarea>
          <label for="nacionalidade">Digite sua nacionalidade</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <textarea id="linkedin" name="linkedin" class="materialize-textarea"></textarea>
          <label for="linkedin">Link do seu LinkedIn</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <textarea id="github" name="github" class="materialize-textarea"></textarea>
          <label for="github">Link do seu Github</label>
        </div>
      </div>

      <!-- profissional -->
      <div class="row">
        <div class="input-field col s5">
          <textarea id="resumo" name="resumo" class="materialize-textarea"></textarea>
          <label for="resumo">Resumo profissional</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <textarea id="formacao" name="formacao" class="materialize-textarea"></textarea>
          <label for="formacao">Formação</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <textarea id="projeto" name="projeto" class="materialize-textarea"></textarea>
          <label for="projeto">Projeto e Portifólio</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <textarea id="tecnologias" name="tecnologias" class="materialize-textarea"></textarea>
          <label for="tecnologias">Tecnologias usadas</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s5">
          <textarea id="complementar" name="complementar" class="materialize-textarea"></textarea>
          <label for="complementar">Experiência complementar</label>
        </div>
      </div>

      <!-- botão enviar -->
      <div class="col s2">
        <button id="enviar" class="btn waves-effect waves-light" type="button" name="action">
          Enviar
          <i class="material-icons right">send</i>
        </button>
      </div>

    </form>

    <br/>

    <!-- carregar dados -->
    <div class="col s2">
      <button id="leitura" class="btn waves-effect waves-light" type="button" name="action">
        Carregar
        <i class="material-icons right">send</i>
      </button>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
