<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h4 class="center-align"><%= title %></h4>
      <p class="center-align">Bem-vindo ao app de criação de <%= title %>s</p>

      <div class="row center-align">
        <div class="col s6">
          <a class="btn btn-form">Ir para Currículo</a>
        </div>
        <div class="col s6">
          <a id="carregar" class="btn">Carregar Formulário</a>
        </div>
      </div>

      <form id="formulario" action="/submit" method="POST">
        <!-- Dados pessoais -->
        <h5>Dados Pessoais</h5>
        <div class="row">
          <div class="input-field col s6">
            <input id="nome" name="nome" type="text" class="validate">
            <label for="nome">Nome completo</label>
          </div>
          <div class="input-field col s6">
            <input id="idade" name="idade" type="number" class="validate">
            <label for="idade">Idade</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input id="telefone" name="telefone" type="tel" class="validate">
            <label for="telefone">Telefone</label>
          </div>
          <div class="input-field col s6">
            <input id="email" name="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input id="logradouro" name="logradouro" type="text">
            <label for="logradouro">Logradouro</label>
          </div>
          <div class="input-field col s3">
            <input id="cep" name="cep" type="text">
            <label for="cep">CEP</label>
          </div>
          <div class="input-field col s3">
            <input id="cidade" name="cidade" type="text">
            <label for="cidade">Cidade</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input id="estado" name="estado" type="text">
            <label for="estado">Estado civil</label>
          </div>
          <div class="input-field col s6">
            <input id="nacionalidade" name="nacionalidade" type="text">
            <label for="nacionalidade">Nacionalidade</label>
          </div>
        </div>

        <!-- Links -->
        <h5>Links</h5>
        <div class="row">
          <div class="input-field col s6">
            <input id="linkedin" name="linkedin" type="url">
            <label for="linkedin">LinkedIn</label>
          </div>
          <div class="input-field col s6">
            <input id="github" name="github" type="url">
            <label for="github">GitHub</label>
          </div>
        </div>

        <!-- Profissional -->
        <h5>Informações Profissionais</h5>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="resumo" name="resumo" class="materialize-textarea"></textarea>
            <label for="resumo">Resumo profissional</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="formacao" name="formacao" class="materialize-textarea"></textarea>
            <label for="formacao">Formação</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="projeto" name="projeto" class="materialize-textarea"></textarea>
            <label for="projeto">Projetos e Portfólio</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="tecnologias" name="tecnologias" class="materialize-textarea"></textarea>
            <label for="tecnologias">Tecnologias usadas</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea id="complementar" name="complementar" class="materialize-textarea"></textarea>
            <label for="complementar">Experiência complementar</label>
          </div>
        </div>

        <!-- Botão salvar -->
        <div class="row center-align">
          <button id="enviar" class="btn waves-effect waves-light" type="submit" name="action">
            Salvar
            <i class="material-icons right">send</i>
          </button>
        </div>

        <!-- Botão atualizar -->
        <div class="row center-align">
          <button id="atualizar" class="btn waves-effect waves-light" type="button" name="action">
            Atualizar
            <i class="material-icons right">send</i>
          </button>
        </div>
      </form>

      <div class="center-align">
        <a class="btn btn-form">Ir para Currículo</a>
      </div>
    </div>

    <%- include('modal') %>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
