<div id="modal-dinamico" class="modal">
  <div class="modal-content">
    <h4 id="modal-titulo" >Inserir campo</h4>
    <div class="input-field">
      <textarea id="add-campo" name="add-campo" class="materialize-textarea"></textarea>
      <label id="modal-label" for="add-campo">Campo</label>
    </div>
  </div>
  <div class="modal-footer">
    <button id="btn-aceitar" class="modal-close btn waves-effect waves-light">
      Confirmar
    </button>
    <button id="btn-cancelar" class="modal-close btn waves-effect waves-light">
      Cancelar
    </button>
  </div>
</div>
