<div id="modal-id" class="modal">
  <div class="modal-content">
    <h4>Digite o identificador</h4>
    <div class="input-field">
      <input id="identificador" type="text" class="validate">
      <label for="identificador">Identificador</label>
    </div>
  </div>
  <div class="modal-footer">
    <button id="confirmarId" class="modal-close btn waves-effect waves-light">
      Confirmar
    </button>
  </div>
</div>
